body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;    
}

  /* ----------------------------------------------------THEME CHANGER---------------------------------------------------- */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url(Images/downloaddd.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* ------------------------------------------------------------------------------------------------------------------ */



#h1{
    font-family: "Comic Sans MS";
}

#h3{
    font-family: "Comic Sans MS";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding: 0px;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: auto;
}
  
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
  
.footer h3{
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 3rem;
}
  
.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
  
  
.copyright{
    background: #000;
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}
  
.copyright p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.card{
    width: 1000;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color:rgba(255, 255, 255, 0.603);
}

.card .cont{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .cont .text{
    width: 55%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card .cont .text h2{
    font-size: 20px;
}

.card .cont .text p{
    font-size: 18px;
}

.card .cont .image{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
}

.card .cont #image1{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/RalphBaer.jpg);
    background-size: 100% 100%;

}

.card .cont #image2{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/TennisForTwo.jpg);
    background-size: 100% 100%;

}

.card .cont #image3{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/1970.jpg);
    background-size: 100% 100%;

}

.card .cont #image4{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/MarioBros.jpg);
    background-size: 100% 100%;

}

.card .cont #image5{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/TombRaider.png);
    background-size: 100% 100%;

}
.card .cont #image6{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/GtaSa.jpg);
    background-size: 100% 100%;

}

.card .cont #image7{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/RDR2.jpg);
    background-size: 100% 100%;

}

.card .cont #image8{
    width: 40%;
    height: 70%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(Images/Cyberpunk.jpg);
    background-size: 100% 100%;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
}