:root{
    --primary-color: #000000;
    --Gamer-color: #ff0000;
    --Times-color: #2f00ff;
}
[data-theme="dark"] {
    --primary-color: #2798b4;
    --Gamer-color: #2330a5;
    --Times-color: #6243ee;
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* -------------------------------------NAV ITEMS--------------------------------------------- */
.nav-list{
    background: #173f4e;
    box-shadow: 0px 0px 10px gray;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0.2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav-item{
    list-style: none;
    margin-right: 2em ;

}

.nav-item a{
    text-decoration: none;
    color: black;

}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    
}
/* --------------------------------------------------------------------------------------------------------- */


  /* ----------------------------------------------------THEME CHANGER---------------------------------------------------- */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url(Images/downloaddd.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* ------------------------------------------------------------------------------------------------------------------ */



/* ----------------------------------------------------------Scroll up------------------------------------------- */
#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(36, 24, 24);
    color: white;
    cursor: pointer;
    padding: 4px;
    padding-bottom: 2px;
    border-radius: 50%;
  }
  
#myBtn:hover {
    background-color: #555;
    cursor: pointer;
  }
/* ------------------------------------------------------------------------------------------------------------------ */



#h1{
    font-family: "Comic Sans MS";
}

#h3{
    font-family: "Comic Sans MS";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding: 0px;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: auto;
}
  
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
  
.footer h3{
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 3rem;
}
  
.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
  
  
.copyright{
    background: #000;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}
  
.copyright p{
    color: #fff;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


/*raidus 0.2em*/
.nav-list{
    background: rgb(34, 33, 33);
    box-shadow: 0px 0px 10px gray;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0.2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav-item{
    list-style: none;
    margin-right: 2em ;

}

.nav-item a{
    text-decoration: none;
    color: black;

}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    
}


.containerr{
    width: 100%;
    height: 100vh;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color:rgb(117, 41, 41);
    font-size: 120px;
}
p{
    color:var(--primary-color);
    font-size: 30px;
    line-height: 15px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(../Images/PS5.jpg);
}
.card2{
    background-image: url(../Images/Farming_card.jpg);
}
.card3{
    background-image: url(../Images/Rocket_card.jpg);
}
.card4{
    background-image: url(../Images/Halo_card.jpg);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #999;
    font-size: 15px;
}
.card p{
    color: rgb(0, 5, 80);
    text-shadow: 0 0 15px rgb(255, 255, 255);
    font-size:14px;
    font-weight: bold;

}


a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
}