.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7000px;
    animation: slide 100s ease-in-out infinite;
}

@keyframes slide{
    0%,100%{
        background-image: url(../Christmas/Xmas1.jpg);
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    30%,60%{
        background-image: url(../Christmas/Xmas2.jpg);
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    60%,80%{
        background-image: url(../Christmas/Xmas3.jpg);
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* ------------------------------------------------Snow----------------------------------------------- */
.box{
    display: grid;
    width: 100%;
    height: fit-content;
    position: absolute;
    background-image: url(../Christmas/snow1.png), url(../Christmas/snow2.png) ,url(../Christmas/snow3.png);
    animation: Snoow 20s linear infinite;
}

@keyframes Snoow{
    0%{
        background-position: 0 0, 0 0 ,0 0;
    }

    100%{
        background-position: 500px 1000px, 400px 400px ,300px 300px;
    }
}



